# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
bin/
lib/

# Environment variables
.env

# Python version
.python-version

# Git
.git/
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

.ruff_cache/
.pre-commit-config.yaml
ruff.toml