APP_HOST = "0.0.0.0"
APP_PORT = 8000
EXTERNAL_APP_PORT = 8000

DB_HOST = "127.0.0.1"
DB_PORT = 27017
DB_NAME = "metadata"
DB_USER = ""
DB_PASSWORD = ""
EXTERNAL_DB_PORT = 27018

METADATA_INVENTORY_COLLECTION = "metadata_inventory"

HTTP_REQUEST_TIMEOUT_S = 10


DB_MAX_POOL_SIZE=100
DB_MIN_POOL_SIZE=10
DB_MAX_IDLE_TIME_MS=30000
DB_CONNECT_TIMEOUT_MS=3000
DB_SOCKET_TIMEOUT_MS=10000
DB_SERVER_SELECTION_TIMEOUT_MS=5000
DB_WAIT_QUEUE_TIMEOUT_MS=5000
